.lienzo{
    background-color: ghostwhite;
    margin-top: 5px;
    box-shadow: 5px 5px 8px grey;
    border: 1px;
    width: 100%;
    height: 800px;
    max-width: 100%;
    overflow: auto;
  }
  .category-title{
    color: #222831;
  }

  .angle-pos{
    color: #222831;
    font-size: 15px;
  }
  .list-icon{
    width: 16px;
    height: 16px;
  }
  .content-list{
    width: 24px;
    height: 24px;
    
  }
  .card-body{
    padding: 0;
    height: 200px;
  }
  .card-box {
    resize: both;
    overflow: auto;
    width: 386px;
    height: 216px;
    position: absolute;
    box-sizing: border-box;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    background: #fff;
    border-radius: 4px;
    /**position: relative;**/
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .card-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .example-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
    
  }.icons_tc{
    float: right;
    margin-left: 10px;
  }
  .card-header{
    padding: .3rem 1.25rem;
  }
  .modal-content{
    width: 125%;
  }
  .modal-dialog{
    margin-left: 10%;
    margin-right: 10%;
  }
  .modal-body{
    margin: 0px;
    padding: 0px;
  }
  .modal-header {
    padding: 5px;
    height: 30px;
  }
  .bar-iconos{
    margin: 0px;
    padding: 0px;
    padding-left: 384px;
    padding-right: 384px;
    background:#222831;
    height: 60px;
  }
  .display-conf{
    margin: 0px;
    padding: 0px;
  }
  .style-bar-icons{
    color: #393e46;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }
  .style-bar-icons:hover{
    color: #eeeeee;
    text-shadow: 0px 0px 3px gray;
  }
  .btn{
    margin-left: 15px;
  }
  .pcolorDolphin{
    background: #023e8a;
    color: white;
  }
  .pcolorDolphin:hover{
    color: white;
    background: #0096c7;
  }
  .pcolorDesert{
    background: #f77f00;
    color: white;
  }
  .pcolorDesert:hover{
    color: white;
    background: #fcbf49;
  }  
  .pcolorFabric{
    background: #9b5de5;
    color: white;
  }
  .pcolorFabric:hover{
    color: white;
    background: #f15bb5;
  }
  .pcolorLight{
    color: black;
    background: whitesmoke;
  }
  .pcolorLight:hover{
    color: black;
    background: darkgray;
  }
  .pcolorDark{
    color: white;
    background: black;
  }
  .pcolorDark:hover{
    color: white;
    background: dimgray;
  }
  .vs-en{
    visibility: hidden;
  }
  .vs-dis{
    visibility: visible;
  }
  .fd-bg{
    background: #212529;
  }
  .inputRow :hover{
    background: darkgray;
  }