<!-- barra de opciones -->
<div class="row bg-dark">
  <div class="col-sm">
    <!-- iconos guardar y cerrar -->
    <div class="d-inline mr-3 float-right">
      <button
        type="button"
        class="btn btn-dark rounded border border-secondary"
        placement="top"
        ngbTooltip="Cerrar"
      >
        <i class="fa fa-times-circle"></i>
      </button>
      <button
        type="button"
        class="btn btn-dark rounded border border-secondary"
        placement="top"
        ngbTooltip="Guardar"
      >
        <i class="fa fa-save"></i>
      </button>
    </div>
    <!-- icono de tamaño de lienzo -->
    <div class="d-inline mr-3 float-right">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-dark rounded border border-secondary"
        >
          100%
        </button>
        <div class="btn-group" ngbDropdown role="group">
          <button
            class="btn btn-dark rounded border border-secondary dropdown-toggle-split"
            ngbDropdownToggle
          ></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button (click)="zoomLienzo('scale(0.25)')" ngbDropdownItem>
              25%
            </button>
            <button (click)="zoomLienzo('scale(0.5 )')" ngbDropdownItem>
              50%
            </button>
            <button (click)="zoomLienzo('scale(0.75)')" ngbDropdownItem>
              75%
            </button>
            <button (click)="zoomLienzo('scale( 1  )')" ngbDropdownItem>
              100%
            </button>
            <button (click)="zoomLienzo('scale(1.25)')" ngbDropdownItem>
              125%
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- iconos de retroceder y actualizar -->
    <div class="d-inline mr-3 float-right">
      <button
        type="button"
        class="btn btn-dark rounded border border-secondary"
        placement="top"
        ngbTooltip="Actualizar"
      >
        <i class="fa fa-sync-alt"></i>
      </button>
      <button
        type="button"
        class="btn btn-dark rounded border border-secondary"
        placement="top"
        ngbTooltip="Deshacer"
      >
        <i class="fa fa-undo-alt"></i>
      </button>
    </div>
    <!-- iconos de exportar, importar imagen y importar datos -->
    <div class="d-inline mr-3 float-right">
      <button
        type="button"
        class="btn btn-dark rounded border border-secondary"
        placement="top"
        ngbTooltip="Importar Datos"
      >
        <i class="fa fa-database"></i>
      </button>
      <button
        type="button"
        class="btn btn-dark rounded border border-secondary"
        placement="top"
        ngbTooltip="Importar Imagen"
        (click)="lgModalImagen.show()"
      >
        <i class="fa fa-image"></i>
      </button>
      <button
        type="button"
        class="btn btn-dark rounded border border-secondary"
        placement="top"
        ngbTooltip="Exportar"
        (click)="exportarPDF()"
      >
        <i class="fa fa-download"></i>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <!--Buscar-->
    <div class="form-group">
      <input
        type="text"
        name="filterWidget"
        class="form-control"
        aria-label="Search"
        [(ngModel)]="filterWidget"
        placeholder="Buscar"
      />
    </div>
    <!--Lista de widgets-->
    <div *ngIf="categorias">
      <ngb-accordion [closeOthers]="true" *ngFor="let categoria of categorias">
        <ngb-panel id="static-1">
          <ng-template ngbPanelHeader let-opened="opened">
            <div class="d-flex align-items-center justify-content-between">
              <img
                class="docs-angular-logo list-icon"
                src="{{ categoria.icono }}"
                alt="Icono-categoria"
              />
              <h6 class="m-0">{{ categoria.nombre }}</h6>
              <button ngbPanelToggle class="btn btn-link p-0">
                <i
                  class="fa angle-pos"
                  [ngClass]="{
                    'fa-angle-down': !opened,
                    'fa-angle-up': opened
                  }"
                ></i>
              </button>
            </div>
          </ng-template>
          <div *ngIf="categoria.elementos">
            <ng-template ngbPanelContent>
              <img
                class="content-list"
                *ngFor="
                  let elemento of categoria.elementos | filter: filterWidget
                "
                src="{{ elemento.icono }}"
                hspace="10"
                vspace="10"
                ngbTooltip="{{ elemento.nombre }}"
                (click)="agregarWidget(elemento)"
              />
            </ng-template>
          </div>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
  <div id="pdf" class="col-md-9 overflow-auto">
    <!--Lienzo (Area de trabajo)-->
    <div class="lienzo" [style.transform]="escalaLienzo" id="lienzo">
      <div
        *ngFor="let chart of charts"
        class="card card-box"
        [ngClass]="{ 'fd-bg': chart.parametros.fondo == '#212529' }"
        [style.z-index]="chart.zIndex"
        (resized)="onResized($event)"
        (mouseover)="mostrarConf()"
        (mouseleave)="ocultarConf()"
        cdkDragBoundary=".lienzo"
        cdkDrag
      >
        <div
          class="card-header"
          [ngClass]="{ 'vs-en': !optConf, 'vs-dis': optConf }"
        >
          <div class="icons_tc">
            <i class="fa fa-arrows-alt" aria-hidden="true" cdkDragHandle></i>
          </div>
          <div class="icons_tc">
            <i
              class="fa fa-cog"
              (click)="lgModal.show()"
              (click)="obtenerElementoActual(chart)"
              aria-hidden="true"
            ></i>
          </div>
          <div class="icons_tc">
            <i
              class="fa fa-copy"
              (click)="copiaGrafico(chart)"
              aria-hidden="true"
            ></i>
          </div>
          <div class="icons_tc">
            <i
              class="fa fa-trash"
              (click)="borrarGrafico(chart)"
              aria-hidden="true"
            ></i>
          </div>
          <div class="icons_tc">
            <i
              class="fa fa-object-ungroup"
              (click)="posGrafico(chart)"
              aria-hidden="true"
            ></i>
          </div>
        </div>
        <div class="card-body">
          <grafica
            [datasets]="chart.parametros.chartData"
            [labels]="chart.parametros.chartLabels"
            [options]="chart.parametros.chartOptions"
            [colors]="chart.parametros.chartColors"
            [legend]="chart.parametros.chartLegend"
            [chartType]="chart.parametros.chartType"
            [plugins]="chart.parametros.chartPlugins"
            [fondo]="chart.parametros.fondo"
          >
          </grafica>
        </div>
      </div>
      <div *ngIf="imagenes">
        <div *ngFor="let imagen of imagenes">
          <img
            (resized)="onResized($event)"
            cdkDragBoundary=".lienzo"
            cdkDrag
            src="{{ imagen.src }}"
            alt="{{ imagen.name }}"
            width="130px"
            height="120px"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Ventana modal de configuración-->
<div
  bsModal
  #lgModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Propiedades de elemento - {{ nombreActual }}
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="lgModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Iconos propiedades-->
        <div class="container-fluid">
          <div class="row bg-dark">
            <div class="col-sm-4 d-flex justify-content-end">
              <i
                class="fa fa-cog display-4 text-secondary select-icon"
                [ngClass]="optionConfGraph ? 'text-light' : 'text-secondary'"
                style="cursor: pointer"
                (click)="modalConfGraph()"
              ></i>
            </div>
            <div class="col-sm-4 d-flex justify-content-center">
              <i
                class="fa fa-database display-4 text-secondary select-icon"
                [ngClass]="optionConfDate ? 'text-light' : 'text-secondary'"
                style="cursor: pointer"
                (click)="modalConfData()"
              ></i>
            </div>
            <div class="col-sm-4 d-flex justify-content-start">
              <i
                class="fa fa-paint-brush display-4 text-secondary select-icon"
                [ngClass]="optionConfFormt ? 'text-light' : 'text-secondary'"
                style="cursor: pointer"
                (click)="modalConfFormt()"
              ></i>
            </div>
          </div>
          <!-- Configuracion de propiedades de dashboard-->
          <div *ngIf="optionConfGraph" class="row">
            <div class="col-md-4 border-right">
              <form [formGroup]="formConfGraph" (ngSubmit)="save($event)">
                <div class="form-group">
                  <label>Nombre grafico</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="nombre"
                  />
                </div>
                <div class="form-group">
                  <label>Fondo</label>
                  <select class="custom-select" formControlName="fondo">
                    <option value="">
                      Seleccione un fondo para la grafica
                    </option>
                    <option value="Light">Light</option>
                    <option value="Dark">Dark</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Colores</label>
                  <select class="custom-select" formControlName="colores">
                    <option value="">
                      Seleccione los colores de la grafica
                    </option>
                    <option value="Dolphin">Dolphin</option>
                    <option value="Desert">Desert</option>
                    <option value="Fabric">Fabric</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
            </div>
            <div class="col-sm-8">
              <grafica
                [datasets]="chartActual.parametros.chartData"
                [labels]="chartActual.parametros.chartLabels"
                [options]="chartActual.parametros.chartOptions"
                [colors]="chartActual.parametros.chartColors"
                [legend]="chartActual.parametros.chartLegend"
                [chartType]="chartActual.parametros.chartType"
                [plugins]="chartActual.parametros.chartPlugins"
                [fondo]="chartActual.parametros.fondo"
              >
              </grafica>
            </div>
          </div>
          <!-- Configuracion de propiedades de datos-->
          <div *ngIf="optionConfDate" class="row">
            <div class="col-sm-3 boder-right overflow-auto border-right">
              <!-- Buscar -->
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar" />
              </div>
              <!-- Datos -->
              <ul
                class="list-group list-group-flush"
                *ngFor="let row of listKey"
              >
                <li
                  draggable="true"
                  class="list-group-item border"
                  (dragstart)="dragRow($event)"
                >
                  {{ row }}
                </li>
              </ul>
            </div>
            <div class="col-sm-3 boder-right">
              <div
                class="Series row h-50 border-bottom"
                (dragover)="dragoverRow($event)"
                (drop)="dropRow($event, 'series')"
              >
                <strong>Series</strong>
                <hr />
                <div class="w-100">
                  <ul
                    class="list-group list-group-flush"
                    *ngFor="let row of listSeries"
                  >
                    <li class="list-group-item border w-100 sticky-top">
                      <div class="row">
                        <div class="col-sm-10">{{ row }}</div>
                        <div class="col-sm-2">
                          <i
                            class="fa fa-times"
                            style="cursor: pointer"
                            (click)="deleteRow(row)"
                          ></i>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="Valores row h-50 border-bottom overflow-auto"
                (dragover)="dragoverRow($event)"
                (drop)="dropRow($event, 'valores')"
              >
                <strong>Valores</strong>
                <hr />
                <div class="w-100">
                  <ul
                    class="list-group list-group-flush sticky-top"
                    *ngFor="let row of listValores"
                  >
                    <li class="list-group-item border w-100 sticky-top">
                      <div class="row">
                        <div class="col-sm-10">{{ row }}</div>
                        <div class="col-sm-2">
                          <i
                            class="fa fa-times"
                            style="cursor: pointer"
                            (click)="deleteRow(row)"
                          ></i>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 border-left">
              <grafica
                [datasets]="chartActual.parametros.chartData"
                [labels]="chartActual.parametros.chartLabels"
                [options]="chartActual.parametros.chartOptions"
                [colors]="chartActual.parametros.chartColors"
                [legend]="chartActual.parametros.chartLegend"
                [chartType]="chartActual.parametros.chartType"
                [plugins]="chartActual.parametros.chartPlugins"
                [fondo]="chartActual.parametros.fondo"
              >
              </grafica>
            </div>
          </div>
          <!-- Configuracion de propiedades de estilo-->
          <div *ngIf="optionConfFormt" class="row">
            <div class="col">col-sm-8</div>
            <div class="col">col-sm-4</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Ventana modal de subir imagen -->
<div
  bsModal
  #lgModalImagen="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="h6">Admninistración de Medios</div>
      </div>
      <div class="modal-body"></div>
      <div class="row m-0 bg-light">
        <!-- btn cargar imagen -->
        <div class="col-md-4">
          <div class="input-group">
            <div class="custom-file">
              <form
                action="/api/upload"
                method="post"
                enctype="multipart/form-data"
              >
                <input
                  (change)="onFileChange($event)"
                  type="file"
                  class="custom-file-input"
                  id="inputGroupFile"
                />
              </form>
              <label class="custom-file-label" for="inputGroupFile"></label>
            </div>
          </div>
        </div>
        <!-- input buscar imagen desde URL -->
        <div class="col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
              </div>
            </div>
            <input
              type="text"
              class="form-control"
              id="buscarUrl"
              placeholder="URL ..."
            />
          </div>
        </div>
        <!-- buscar imagenes ya subidas -->
        <div class="col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
            </div>
            <input
              type="text"
              class="form-control"
              id="buscarImagen"
              placeholder="Buscar"
            />
          </div>
        </div>
      </div>
      <!-- cards de imagenes subidas -->
      <div class="row m-2 overflow-auto" style="height: 400px">
        <div *ngFor="let img of imageSrc">
          <button
            type="button"
            class="btn btn-white"
            (click)="insertInfotImg(img)"
          >
            <div class="card" style="width: 18rem">
              <img src="{{ img.src }}" class="card-img-top" alt="..." />
              <div class="card-body h-25">
                <h5 class="card-title">{{ img.name }}</h5>
                <span class="text-muted">{{ img.lastModified }}</span>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark">Eliminar</button>
        <button type="button" class="btn btn-success" (click)="insertImg()">
          Insertar
        </button>
      </div>
    </div>
  </div>
</div>
