<!-- ===============Sección de botones Guardar, Agregar y Cancelar======================= -->
<menu-bar title="{{lblPerfiles}}">
    <button class="btn btn-success pull-right" *ngIf="editando()" form="moduloform" type="submit" [(disabled)]="isInvalid || desactivar" (click)="onSubmit()">
        <i class="fa fa-plus"></i>
        {{lblGuardar}}
    </button>
    <button class="btn btn-success pull-right margin-right-5" *ngIf="consultando()" (click)="verFormulario()">
        <i class="fa fa-plus"></i>
        <span class="hidden-mobile"> {{lblAgregar}}</span>
    </button>
    <button class="btn btn-default pull-right margin-right-5" *ngIf="editando()" (click)="verTabla()">
        <i class="fa fa-arrow-left"></i>
        <span class="hidden-mobile"> {{lblCancelar}}</span>
    </button>
</menu-bar>
<!-- ============================================================================================ -->

<!-- =================Componente de filtrado y registros listados======================= -->
<sa-widgets-grid>
    <div class="margin-auto">
        <div *ngIf="consultando()" class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" role="widget">
            <!-- =======================Sección para criterios de busqueda=========================== -->
            <header role="heading" class="ui-sortable-handle">
                <h2><i class="fa fa-search"></i> {{lblCriteriosBusqueda}} </h2>
                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
            </header>
            <div role="content">
                <div class="widget-body well">
                    <div class="row show-grid">
                        <div class="col-md-4">
                            <section class="smart-form">
                                <label class="label"><b>{{lblCampo}}</b></label>
                                <label class="select">
                                    <select (ngModelChange)="limpiarCriterio()" [(ngModel)]="campo" class="input-sm">
                                        <option value="codigo">{{lblCodigo}}</option>
                                        <option value="nombre">{{lblNombre}}</option>
                                    </select> <i></i> </label>
                            </section>
                        </div>
                        <div class="smart-form col-md-4">
                            <label class="label"><b>{{lblEstado}}</b></label><br>
                            <div class="btn-group" style="margin-top: -11.5%">
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="ACTIVO" tabindex="0" role="button">{{lblActivo}}</label>
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="INACTIVO" tabindex="0" role="button">{{lblInactivo}}</label>
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="ACTIVO,INACTIVO" tabindex="0" role="button">{{lblTodos}}</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group" style="margin-top: 11%">
                                <input [(ngModel)]="criterio " [ngModelOptions]="{standalone: true}" class="form-control" type="text " placeholder="{{lblCriterioBusqueda}} ... ">
                                <!--  -->
                                <div class="input-group-btn">
                                    <button class="btn btn-default btn-primary " type="button " (click)="consultar()">
                                        <i class="fa fa-search "></i> {{lblBuscar}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================================================ -->
            <!-- ======================Sección tabla resultados de consulta======================== -->
            <div>
                <div class="row" style="padding: 8px 12px">
                    <!-- Filtro del Datatable -->
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="icon-addon">
                                <input type="text" id="search" class="form-control" [(ngModel)]="controls.filter" placeholder='{{lblFiltroTabla}}...' (keyup)='updateFilter($event)'>
                                <label style="z-index: 22" for="search" class="fa fa-search" rel="tooltip" title="search"></label>
                            </div>
                        </div>
                    </div>
                    <!-- Paginacion del Datatable -->
                    <div class="col-md-6">
                        <select class="pull-right form-control " style="width: 70px;" (ngModelChange)="updatePageSize($event)" [(ngModel)]="controls.pageSize">
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>50</option>
                        </select>
                    </div>
                </div>
                <ngx-datatable class="material striped ngx-datatable fixed-header" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="45" [rowHeight]="'auto'" [externalPaging]="true" [count]="controls.rowCount"
                    [offset]="controls.curPage" [limit]="controls.pageSize" (page)='setPage($event)' [cssClasses]="{
                                              sortAscending: 'fa fa-caret-up',
                                              sortDescending: 'fa fa-caret-down',
                                              pagerLeftArrow: 'fa  fa-angle-left',
                                              pagerRightArrow: 'fa fa-angle-right',
                                              pagerPrevious: 'fa fa-angle-double-left',
                                              pagerNext: 'fa fa-angle-double-right'
                                            }" [reorderable]="reorderable" [messages]="messages">
                    <ngx-datatable-column name="{{lblCodigo}}" [width]="50" [resizeable]="false">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                            [{{row.codigo}}]
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{lblNombre}}" [width]="300" [resizeable]="false">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                            {{row.nombre}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{lblEstado}}" [width]="50" [resizeable]="false">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                            <span *ngIf="row.estado == 'ACTIVO'" class="label label-success">
                                <i class="glyphicon glyphicon-ok"></i> {{lblActivo}}</span>
                            <span *ngIf="row.estado == 'INACTIVO'" class="label label-danger">
                                <i class="glyphicon glyphicon-remove"></i> {{lblInactivo}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="{{lblAcciones}}" sortable="false" prop="id" [width]="50" [resizeable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <button style="margin-left: 2%" (click)="visualizar(row.id)" placement="top" tooltip="{{lblVer}}" class="btn btn-primary btn-xs txt-color-white" md-icon-button>
                                <i class="fa fa-eye"></i>
                            </button>
                            <button style="margin-left: 2%" (click)="editar(row.id)" placement="top" tooltip="{{lblEditar}}" class="btn btn-warning btn-xs txt-color-white" md-icon-button>
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                            <button style="margin-left: 2%" (click)="openModal(row.id)" placement="top" tooltip="{{lblEliminar}}" class="btn btn-danger btn-xs txt-color-white" md-icon-button>
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable><br>
            </div>
            <!-- ============================================================================================ -->
        </div>
        <!-- ============================================================================================ -->
        <div class="row" *ngIf="editando()">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false" [sortable]="false" [fullscreenbutton]="false">
                    <div>
                        <div class="widget-body">
                            <div class="tabbable tabs-below">
                                <div class="tab-content">
                                    <tabset>
                                        <tab [active]="currentTab == 'Perfiles'">
                                            <!-- =========================General form definido en el component.ts====================== -->
                                            <general-form #formPerfiles [parameters]="formPerfil"></general-form>
                                            <!-- ============================================================================================ -->
                                        </tab>
                                        <tab [active]="currentTab == 'CUENTAS'">
                                            <br>
                                            <picklist #pickCuentas [arrayUno]="arrayCuentasUsuarioAsociadas" [arrayDos]="arrayCuentasUsuarioDisponibles"></picklist>
                                            <br>
                                        </tab>
                                        <tab [active]="currentTab == 'PRIVILEGIOS'">
                                            <br>
                                            <picklist #pickPrivilegios [arrayUno]="arrayPrivilegiosAsociados" [arrayDos]="arrayPrivilegiosDisponibles"></picklist>
                                            <br>
                                        </tab>
                                    </tabset>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li [class.active]="currentTab == 'Perfiles'" class="active">
                                        <a (click)="selectTab('Perfiles')">{{lblPerfil}}</a>
                                    </li>
                                    <li [class.active]="currentTab == 'CUENTAS'" class="active">
                                        <a (click)="selectTab('CUENTAS')">{{lblCuentas}}</a>
                                    </li>
                                    <li [class.active]="currentTab == 'PRIVILEGIOS'" class="active">
                                        <a (click)="selectTab('PRIVILEGIOS')">{{lblPrivilegios}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sa-widgets-grid>
<!-- ============================================================================================ -->
<!-- ===========================Ventana confirmación eliminar registro============================= -->
<div *ngIf="confirmDialog" class="divMessageBox animated fadeIn fast" id="MsgBoxBack">
    <div class="MessageBoxContainer animated fadeIn fast" id="Msg1">
        <div class="MessageBoxMiddle">
            <span class="MsgTitle">
                <i class="fa fa-times" style="color:#ed1c24"></i> {{lblEliminar}}: [{{perfil.codigo}}]
                {{perfil.nombre}}</span>
            <p *ngIf="!sePuedeEliminar">{{msgDeseaEliminar}}</p>
            <p *ngIf="sePuedeEliminar">{{msgNoSePuedeEliminar}}</p>
            <div class="MessageBoxButtonSection">
                <button *ngIf="!sePuedeEliminar" type="button " class="btn btn-default btn-sm botTempo " (click)="confirm() ">{{lblSi}}</button>
                <button *ngIf="!sePuedeEliminar" type="button " class="btn btn-default btn-sm botTempo " (click)="decline() ">{{lblNo}}</button>
                <button *ngIf="sePuedeEliminar" type="button " class="btn btn-default btn-sm botTempo " (click)="decline() ">{{lblCancelar}}</button>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================================================ -->
