<form class="smart-form" [formGroup]="formControled" (ngSubmit)="onSubmit()">
    <header class="header" *ngIf="parameters.header && parameters.header.label">
        {{parameters.header.label}}
    </header>
    <fieldset>
        <div *ngFor="let field of fields">
            <general-form-field *ngIf="!isAnArray(field) && field.key != 'id'" [form]="formControled" [field]="field" [tokenForm]="tokenForm"></general-form-field>
            <div *ngIf="isAnArray(field)"> 
              <general-form-field *ngFor="let fieldSingle of field" [form]="form" [field]="fieldSingle"></general-form-field>
            </div>
        </div>
    </fieldset>
    <footer *ngIf="parameters.buttons">
        <button *ngFor="let button of parameters.buttons" [type]="button.type"
        class="btn " [ngClass]="button.typeClass" [disabled]="!formControled.valid" (click)="button.onClick ? button.onClick() : null">
            {{button.label}}
        </button>
    </footer>
</form>
