.header {
    margin: 0px 14px 0;
}

.smart-form fieldset {
    display: block;
    padding: 10px 14px 5px;
    border: none;
    background: rgba(255,255,255,.9);
    position: relative;
}

.rating-left {
    align-content: left;
}