<div *ngIf="field.row; else elseBlock">
  <general-form-row [form]="form" [fields]="field.row"></general-form-row>
</div>
<ng-template #elseBlock>
  <section [formGroup]="form"
    *ngIf="!(field.hasOwnProperty('visible') && field.visible == false) && !(field.dynamic && !field.dynamic.visible)">
    <label *ngIf="field.label && getTypeElement(field) !== typeElement.CHECKBOX" class="label"><b>{{field.label}}</b> <b
        class="required" *ngIf="field.validation && field.validation.required">
        *</b></label>
    <label class="input" *ngIf="validarInput(field)">
      <i *ngIf="field.icon" class="icon-append fa {{field.icon}}"></i>
      <input [formControlName]="field.key" [type]="getTypeElement(field)"
        [placeholder]="field.placeholder ? field.placeholder: ''" data-toggle="tooltip" title="{{field.tooltip}}">
    </label>
    <label class="input" *ngIf="getTypeElement(field) === typeElement.FORMAT">
      <i *ngIf="field.icon" class="icon-append fa {{field.icon}}"></i>
      <input matInput [formControlName]="field.key" [type]="typeElement.TEXT"
        [placeholder]="field.placeholder ? field.placeholder: ''" data-toggle="tooltip" title="{{field.tooltip}}"
        [prefix]="field.validation.prefix ? field.validation.prefix : ''"
        [suffix]="field.validation.suffix ? field.validation.suffix : ''" [mask]="field.validation.expression.mask"
        [patterns]="field.validation.expression.pattern" (keyup)="onKeyUp(field)" />
    </label>
    <div [ngSwitch]="getTypeElement(field)">
      <label class="select" *ngSwitchCase="typeElement.SELECT">
        <select [formControlName]="field.key" [value]="field.default ? field.default.value : null"
          (change)="field.cambios?field.cambios($event):null" data-toggle="tooltip" title="{{field.tooltip}}">
          <option [value]="option.value" *ngFor="let option of field.options">{{option.label}}</option>
        </select>
        <i></i>
      </label>
      <label class="checkbox" *ngSwitchCase="typeElement.CHECKBOX" data-toggle="tooltip" title="{{field.tooltip}}">
        <input [name]="field.key" [type]="typeElement.CHECKBOX" (click)="setValueCheckbox($event,field.key)"
          [disabled]="form.disabled" [id]="field.token+'-'+field.key">
        <i></i>{{field.label}}
      </label>
      <label class="{{typeElement.TEXTAREA}}" *ngSwitchCase="typeElement.TEXTAREA">
        <i *ngIf="field.icon" class="icon-append fa {{field.icon}}"></i>
        <textarea [formControlName]="field.key" rows="3" class="custom-scroll" data-toggle="tooltip"
          title="{{field.tooltip}}"></textarea>
      </label>
      <div class="inline-group" *ngSwitchCase="typeElement.RADIO">
        <label class="radio" *ngFor="let option of field.options" data-toggle="tooltip" title="{{field.tooltip}}">
          <input [value]="setDefaultValue(field)" [type]="typeElement.RADIO" [name]="field.key"
            (click)="setValueRadio(field, option.value)" [id]="field.token+'-'+field.key+'-'+option.value"
            [checked]="field.default && option.value == field.default.value" [disabled]="form.disabled">
          <i></i>{{option.label}}
        </label>
      </div>
      <div class="btn-group" data-toggle="buttons" *ngSwitchCase="typeElement.BUTTON_GROUP">
        <label class="btn btn-default btn-sm padding-6-12 {{setActive(field, option)}}" *ngFor="let option of field.options"
          data-toggle="tooltip" title="{{field.tooltip}}">
          <input type="radio" [name]="field.key" (click)="form.controls[field.key].setValue(option.value)"
            [disabled]="form.disabled" />
          {{option.label}}
        </label>
      </div>
      <div class="input-group" *ngSwitchCase="typeElement.DATE">
        <i *ngIf="field.icon" class="icon-append fa {{field.icon}}"></i>
        <input type="text" [formControlName]="field.key" [placeholder]="field.placeholder ? field.placeholder: ''"
          class="form-control" [bsConfig]="datePickerConfig" data-toggle="tooltip" title="{{field.tooltip}}"
          bsDatepicker>
        <span class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </span>
      </div>

      <div class="input-group" *ngSwitchCase="typeElement.DATE2">

        <input placeholder="Select a date" class="form-control" style="padding: 6px 1px" ngx-mydatepicker name="myDate"
          [formControlName]="field.key" [options]="field.myDatePickerOptions" #dp="ngx-mydatepicker"
          data-toggle="tooltip" title="{{field.tooltip}}" />
        <span class="input-group-addon">
          <button type="button" class="btn btn-default" (click)="dp.clearDate()">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
          <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>

      </div>
      <div *ngSwitchCase="typeElement.TIME">
        <form [formGroup]="formTime">
          <timepicker [formControlName]="'myControl'"
            [(ngModel)]="field.configuration.date ? field.configuration.date : dateTime" [showMinutes]="true"
            [showSeconds]="field.configuration.showSec ? field.configuration.showSec : false"
            [min]="field.configuration.min ? field.configuration.min : dateMinTime"
            [max]="field.configuration.max ? field.configuration.max : dateMaxTime">
          </timepicker>
        </form>
      </div>
      <div id="dateRange" *ngSwitchCase="typeElement.DATE_RANGE">
        <input [placeholder]="field.placeholder ? field.placeholder: ''" type="text" class="form-control"
          bsDaterangepicker [formControlName]="field.key" (bsValueChange)="field.change($event)" data-toggle="tooltip"
          title="{{field.tooltip}}">
      </div>
      <div *ngSwitchCase="typeElement.SELECCIONAREGISTRO">
        <seleccionar-registro [id]="field.identi" [servicio]="field.service" Ratings with different icons
          [parametrosDefecto]="field.parametrosDefecto" [parametrosHeadersTabla]="field.camposHeadersTabla"
          [parametrosTabla]="field.camposTabla" [parametrosBusqueda]="field.inputsConsulta"
          [parametrosInput]="field.camposInput" [listarEspecifico]="field.listarEspecifico"
          [formControlName]="field.key" data-toggle="tooltip" title="{{field.tooltip}}"></seleccionar-registro>
      </div>
      <div *ngSwitchCase="typeElement.RATING">
        <p-rating class="rating-stars" [formControlName]="field.key"
          [(ngModel)]="field.configuration.default ? field.configuration.default : defaultStart"
          [cancel]="field.configuration.cancel ? field.configuration.cancel : false"
          [stars]="field.configuration.stars ? field.configuration.stars : 5"></p-rating>
      </div>
      <div *ngSwitchCase="typeElement.SWITCH">
        <p-inputSwitch class="switch" [formControlName]="field.key" [(ngModel)]="field.configuration.checked">
        </p-inputSwitch>
      </div>
      <div *ngSwitchCase="typeElement.MULTI_SELECT">
        <p-multiSelect [formControlName]="field.key" [options]="field.configuration.items"
          [(ngModel)]="field.configuration.selectedItems" [panelStyle]="{minWidth:'20em'}" placeholder="Hola">
          <ng-template let-item pTemplate="item">
            <img class="select-img" *ngIf="item.srcImg" src="{{item.srcImg}}" />
            <span>{{item.label}}</span>
          </ng-template>
        </p-multiSelect>
      </div>

      <div *ngSwitchCase="typeElement.SPINNER">
        <p-spinner [formControlName]="field.key" size="20"
          [(ngModel)]="field.configuration && field.configuration.value ? field.configuration.value : defaultValueSpinner"
          [step]="field.configuration && field.configuration.step ? field.configuration.step : stepValue"
          [min]="field.configuration && field.configuration.min ? field.configuration.min : minSpinner"
          [max]="field.configuration && field.configuration.max ? field.configuration.max : maxSpinner"></p-spinner>
      </div>

      <div *ngSwitchCase="typeElement.IMAGE">
        <img *ngIf="!field.configuration.imgSize" src="{{field.configuration.src}}"
          style="width: 50px; height: 50px;" />
        <img *ngIf="field.configuration.imgSize" src="{{field.configuration.src}}" />
      </div>
      <div *ngSwitchCase="typeElement.TOGGLE">
        <p-toggleButton [formControlName]="field.key" [(ngModel)]="field.configuration.checked"
          onLabel="{{field.configuration.onLabel}}" offLabel="{{field.configuration.offLabel}}"
          onIcon="field.configuration.onIcon" offIcon="field.configuration.offIcon" [style]="{'width':'150px'}">
        </p-toggleButton>
      </div>
      <div *ngSwitchCase="typeElement.SLIDER">
        <div class="input-group">
          <h6>{{field.configuration.valor[0] + ' - ' + field.configuration.valor[1]}}</h6>
          <p-slider [formControlName]="field.key" [(ngModel)]="field.configuration.valor" [style]="{'width':'15em'}"
            [range]="field.configuration.range" [animate]="true" [step]="field.configuration.step"
            [min]="field.configuration.min" [max]="field.configuration.max"
            oientation="field.configuration.orientation"></p-slider>
        </div>
      </div>
    </div>
    <div class="errorMessage" *ngIf="isInvalid && (isTouched || isDirty)">
      <p *ngIf="hasErrorAndHasMessage(typeValidators.REQUIRED)">
        {{getMessage(typeValidators.REQUIRED)}}
      </p>
      <p *ngIf="hasErrorAndHasMessage(typeValidators.EMAIL)">
        {{getMessage(typeValidators.EMAIL)}}
      </p>
      <p *ngIf="hasErrorAndHasMessage(typeValidators.MAX)">
        {{getMessage(typeValidators.MAX)}}
      </p>
      <p *ngIf="hasErrorAndHasMessage(typeValidators.MIN)">
        {{getMessage(typeValidators.MIN)}}
      </p>
      <p *ngIf="hasErrorAndHasMessage(typeValidators.EQUAL_TO)">
        {{getMessage(typeValidators.EQUAL_TO)}}
      </p>
      <p *ngIf="hasError('codigoRecorded')">
        El código ya se encuentra registrado
      </p>
      <p *ngIf="hasError('cuentaRecorded')">
        La cuenta ya se encuentra registrada
      </p>
      <p *ngIf="hasError('errorCoincidencia')">
        Los valores no coincide
      </p>
    </div>
  </section>
</ng-template>
