input:disabled {
    background-color: rgb(235, 235, 235);
    color: grey;
    border: 1px solid grey;
}

select:disabled {
    background-color: rgb(235, 235, 235);
    color: grey;
    border: 1px solid grey;
}

textarea:disabled {
    background-color: rgb(235, 235, 235);
    color: grey;
    border: 1px solid grey;
}

.required {
    color: red;
}

.radio{
    margin: 5px 30px 4px 0px;
}

.radio:last-child{
    margin: 5px 30px 4px 0px;
}

.rating-stars{
    font-size: 20px;
}

.switch{
    width: 45px;
    height: 25px;
    margin: 2px 2px 3px 6px;
}

.text-select{
    font-size:14px;
    float:right;
    margin-top:4px
}

.select-img{
    width:24px;
    display:inline-block;
    vertical-align:middle;
}

.ui-multiselect .ui-multiselect-label {
    width: 245px;
}