input:disabled {
    background-color: rgb(235, 235, 235);
    color: grey;
    border: 1px solid grey;
}

select:disabled {
    background-color: rgb(235, 235, 235);
    color: grey;
    border: 1px solid grey;
}

textarea:disabled {
    background-color: rgb(235, 235, 235);
    color: grey;
    border: 1px solid grey;
}