<menu-bar title="Parametros">
    <button class="btn btn-success pull-right" *ngIf="editando()" type="button" [(disabled)]="isInvalid || desactivar" (click)="onSubmit()">
        <i class="fa fa-plus"></i>
        Agregar
    </button>
    <button class="btn btn-success pull-right margin-right-5" *ngIf="(consultando() && parametro2.estado=='ACTIVO') && !disableEdit || (consultando() && parametro2.id==0) && !disableEdit" (click)="verFormulario('A')">
        <i class="fa fa-plus"></i>
        <span class="hidden-mobile"> Agregar</span>
    </button>
    <button class="btn btn-default pull-right margin-right-5" *ngIf="editando()" (click)="verTabla()">
        <i class="fa fa-arrow-left"></i>
        <span class="hidden-mobile"> Cancelar</span>
    </button>
</menu-bar>
<sa-widgets-grid>
    <!--inicio tabla-->
    <div class="margin-auto">
        <!-- ============================================================================================ -->
        <!-- Fila componentes tabla -->
        <div *ngIf="consultando()" class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" role="widget">
            <!-- Inicio Filtros -->
            <header role="heading" class="ui-sortable-handle">
                <div class="jarviswidget-ctrls" role="menu"> <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a>
                    <a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a> <a href="javascript:void(0);" class="button-icon jarviswidget-delete-btn"
                        rel="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-times"></i></a></div>

                <span class="widget-icon"> <i class="fa fa-search"></i> </span>

                <h2>Criterios de búsqueda </h2>
                <h2 *ngIf="parametro2!=null"> [{{parametro2.codigo}}] {{parametro2.nombre}} </h2>
                <h2 *ngIf="parametro2==null"> Nuevo Parámetro </h2>

                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
            </header>

            <div role="content">
                <div class="widget-body well">
                    <!-- <div class="row show-grid"> -->
                    <div class="row show-grid">
                        <div class="col-md-4">
                            <section class="smart-form">
                                <label class="label">
                                    <strong>Campo &nbsp;&nbsp;</strong>
                                </label>
                                <label class="select">
                                    <select [(ngModel)]="campo" class="input-sm">
                                        <option value="codigo">Código</option>
                                        <option value="nombre">Nombre</option>
                                    </select><i></i>
                                </label>
                            </section>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">
                                <strong>Estado &nbsp;&nbsp;</strong>
                            </label><br>
                            <div class="btn-group">
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="ACTIVO" tabindex="0" role="button">Activo</label>
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="INACTIVO" tabindex="0" role="button">Inactivo</label>
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="ACTIVO,INACTIVO,PROGRAMADO" tabindex="0" role="button">Todos</label>
                            </div>
                        </div>
                        <div class="with-auto col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group" style="margin-top: 8%;">
                                <input id="criterioBusqueda" [(ngModel)]="criterio" [ngModelOptions]="{standalone: true}" class="form-control" type="text" placeholder="Criterio de Búsqueda ...">
                                <!--  -->
                                <div class="input-group-btn">
                                    <button class="btn btn-default btn-primary" type="button" (click)="consultar()">
                                        <i class="fa fa-search"></i> Buscar
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--Fin filtros-->

            <!-- widget content tabla-->

            <div>
                <div class="widget-body ">

                    <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row" style="padding: 8px 12px">
                            <!-- Filtro del Datatable -->
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="icon-addon">
                                        <input type="text" id="search" class="form-control" [(ngModel)]="controls.filter" placeholder='Filtro en la Tabla...' (keyup)='updateFilter($event)'>
                                        <label style="z-index: 22" for="search" class="fa fa-search" rel="tooltip" title="search"></label>
                                    </div>
                                </div>
                            </div>
                            <!-- Paginacion del Datatable -->
                            <div class="col-md-6">
                                <select class="pull-right form-control " style="width: 70px;" (ngModelChange)="updatePageSize($event)" [(ngModel)]="controls.pageSize">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>50</option>
                                </select>
                            </div>
                        </div>
                        <ngx-datatable class="material striped ngx-datatable fixed-header" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="45" [rowHeight]="'auto'" [limit]="controls.pageSize" [externalPaging]="true"
                            [count]="controls.rowCount" [offset]="controls.curPage" [limit]="controls.pageSize" (page)='setPage($event)' [cssClasses]="{
                                    sortAscending: 'fa fa-caret-up',
                                    sortDescending: 'fa fa-caret-down',
                                    pagerLeftArrow: 'fa  fa-angle-left',
                                    pagerRightArrow: 'fa fa-angle-right',
                                    pagerPrevious: 'fa fa-angle-double-left',
                                    pagerNext: 'fa fa-angle-double-right'
                                }" [reorderable]="reorderable" [messages]="messages">
                            <ngx-datatable-column name="Desde" [width]="50" [resizeable]="false">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                    {{row.vigenciaDesde | date:"yyyy/MM/dd hh:mm:ss aa"}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Hasta" [width]="50" [resizeable]="false">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

                                    {{row.vigenciaHasta | date:"yyyy/MM/dd hh:mm:ss aa"}}

                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Valor" [width]="50" [resizeable]="false">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                    {{row.valor}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Estado" [width]="50" [resizeable]="false">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                    <span *ngIf="row.estado == 'ACTIVO'" class="label label-success">
                                        <i class="glyphicon glyphicon-ok"></i> Activo</span>
                                    <span *ngIf="row.estado == 'INACTIVO'" class="label label-danger">
                                        <i class="glyphicon glyphicon-remove"></i> Inactivo</span>
                                    <span *ngIf="row.estado == 'PROGRAMADO'" class="label label-warning">
                                        <i class="glyphicon glyphicon-cog"></i> Programado</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Acciones" sortable="false" prop="id" [width]="50" [resizeable]="false">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button style="margin-left: 2%" (click)="visualizar(row.id)" placement="top" tooltip="Ver" class="btn btn-primary btn-xs txt-color-white" md-icon-button>
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button *ngIf="!disableEdit" style="margin-left: 2%" (click)="editar(row.id)" placement="top" tooltip="Editar" class="btn btn-warning btn-xs txt-color-white" md-icon-button>
                                        <i class="fa fa-pencil-square-o"></i>
                                    </button>
                                    <button *ngIf="!disableEdit" style="margin-left: 2%" (click)="openModal(row.id)" placement="top" tooltip="Eliminar" class="btn btn-danger btn-xs txt-color-white" md-icon-button>
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>

                    </div>
                </div>
            </div>
            <!-- end widget content tabla-->
        </div>
        <!-- ============================================================================================ -->

        <!-- Fila componentes formulario agregar -->
        <div class="row" *ngIf="editando()">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false" [sortable]="false" [fullscreenbutton]="false">
                    <div>
                        <div class="widget-body">

                            <general-form #formParametroVigenciaDateId [parameters]="formParametroVigenciaDate"></general-form>
                            <general-form #formParametroVigenciaTimeId [parameters]="formParametroVigenciaTime"></general-form>
                            <general-form #formParametroVigenciaId [parameters]="formParametroVigencia"></general-form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!--fin tabla de inicio-->

    <!--inicio formulario agregar-->

    <!--fin formulario agregar-->


</sa-widgets-grid>
<div *ngIf="confirmDialog" class="divMessageBox animated fadeIn fast" id="MsgBoxBack">
    <div class="MessageBoxContainer animated fadeIn fast" id="Msg1">
        <div class="MessageBoxMiddle">
            <span class="MsgTitle">
                <i class="fa fa-times" style="color:#ed1c24"></i> Eliminar: [{{parametroVigencia.idParametro.codigo}}]
                {{parametroVigencia.idParametro.nombre}}</span>
            <p>Seguro que desea realizar esta accion? </p>
            <div class="MessageBoxButtonSection">
                <button type="button" class="btn btn-default btn-sm botTempo" (click)="confirm()">Si</button>
                <button type="button" class="btn btn-default btn-sm botTempo" (click)="decline()">No</button>
            </div>
        </div>
    </div>
</div>