<div [formGroup]="form" class="row">
  <div class="col " [ngClass]="columns" *ngFor="let field of fields">
    <general-form-field *ngIf="!isAnArray(field)" [form]="form" [field]="field"></general-form-field>
    <div *ngIf="isAnArray(field)"> 
      <general-form-field *ngFor="let fieldSingle of field" [form]="form" [field]="fieldSingle"></general-form-field>
    </div>
  </div>
</div>