<!-- ===============Sección de botones Guardar, Agregar y Cancelar======================= -->
<menu-bar title="{{lblParametros}}">
    <button class="btn btn-success pull-right" *ngIf="editando()" type="button" [(disabled)]="isInvalid || desactivar"
        (click)="onSubmit()">
        <i class="fa fa-plus"></i>
        {{lblGuardar}}
    </button>
    <button class="btn btn-success pull-right margin-right-5" *ngIf="consultando()" (click)="verFormulario(true)">
        <i class="fa fa-plus"></i>
        <span class="hidden-mobile"> {{lblAgregar}}</span>
    </button>
    <button class="btn btn-default pull-right margin-right-5" *ngIf="editando()" (click)="verTabla()">
        <i class="fa fa-arrow-left"></i>
        <span class="hidden-mobile"> {{lblCancelar}}</span>
    </button>
</menu-bar>
<!-- ============================================================================================ -->
<!-- =================Componente de filtrado y registros listados======================= -->
<sa-widgets-grid>
    <div class="margin-auto">
        <div *ngIf="consultando()" class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-0"
            data-widget-editbutton="false" role="widget">
            <!-- =======================Sección para criterios de busqueda=========================== -->
            <header role="heading" class="ui-sortable-handle">
                <div class="jarviswidget-ctrls" role="menu"> <a href="javascript:void(0);"
                        class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom"
                        data-original-title="Collapse"><i class="fa fa-minus "></i></a>
                    <a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title=""
                        data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a> <a
                        href="javascript:void(0);" class="button-icon jarviswidget-delete-btn" rel="tooltip" title=""
                        data-placement="bottom" data-original-title="Delete"><i class="fa fa-times"></i></a></div>
                <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                <h2>{{lblCriteriosBusqueda}} </h2>
                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
            </header>
            <div role="content">
                <div class="widget-body well">
                    <div class="row show-grid">
                        <div class="col-md-4">
                            <section class="smart-form">
                                <label class="label">
                                    <strong>{{lblCampo}} &nbsp;&nbsp;</strong>
                                </label>
                                <label class="select">
                                    <select [(ngModel)]="campo" class="input-sm">
                                        <option value="codigo">{{lblCodigo}}</option>
                                        <option value="nombre">{{lblNombre}}</option>
                                    </select><i></i>
                                </label>
                            </section>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">
                                <strong>{{lblEstado}} &nbsp;&nbsp;</strong>
                            </label><br>
                            <div class="btn-group">
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="ACTIVO" tabindex="0"
                                    role="button">{{lblActivo}}</label>
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="INACTIVO" tabindex="0"
                                    role="button">{{lblInactivo}}</label>
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="ACTIVO,INACTIVO"
                                    tabindex="0" role="button">{{lblTodos}}</label>
                            </div>
                        </div>
                        <div class="with-auto col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group" style="margin-top: 8%;">
                                <input id="criterioBusqueda" [(ngModel)]="criterio"
                                    [ngModelOptions]="{standalone: true}" class="form-control" type="text"
                                    placeholder="Criterio de Búsqueda ...">
                                <div class="input-group-btn">
                                    <button class="btn btn-default btn-primary" type="button" (click)="consultar()">
                                        <i class="fa fa-search"></i> {{lblBuscar}}
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ============================================================================================ -->
            <!-- ======================Sección tabla resultados de consulta======================== -->
            <div>
                <div class="widget-body ">
                    <!-- Filtro del Datatable -->
                    <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row" style="padding: 8px 12px">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="icon-addon">
                                        <input type="text" id="search" class="form-control"
                                            [(ngModel)]="controls.filter" placeholder='{{lblFiltroTabla}}...'
                                            (keyup)='updateFilter($event)'>
                                        <label style="z-index: 22" for="search" class="fa fa-search" rel="tooltip"
                                            title="search"></label>
                                    </div>
                                </div>
                            </div>
                            <!-- Paginacion del Datatable -->
                            <div class="col-md-6">
                                <select class="pull-right form-control " style="width: 70px;"
                                    (ngModelChange)="updatePageSize($event)" [(ngModel)]="controls.pageSize">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>50</option>
                                </select>
                            </div>
                        </div>
                        <ngx-datatable class="material striped ngx-datatable fixed-header" [rows]="rows"
                            [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="40"
                            [footerHeight]="45" [rowHeight]="'auto'" [limit]="controls.pageSize" [externalPaging]="true"
                            [count]="controls.rowCount" [offset]="controls.curPage" [limit]="controls.pageSize"
                            (page)='setPage($event)' [cssClasses]="{
                                    sortAscending: 'fa fa-caret-up',
                                    sortDescending: 'fa fa-caret-down',
                                    pagerLeftArrow: 'fa  fa-angle-left',
                                    pagerRightArrow: 'fa fa-angle-right',
                                    pagerPrevious: 'fa fa-angle-double-left',
                                    pagerNext: 'fa fa-angle-double-right'
                                }" [reorderable]="reorderable" [messages]="messages">
                            <ngx-datatable-column name="{{lblCodigo}}" [width]="50" [resizeable]="false">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                    [{{row.codigo}}]
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="{{lblNombre}}" [width]="50" [resizeable]="false">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                    {{row.nombre}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="{{lblEstado}}" [width]="50" [resizeable]="false">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                    <span *ngIf="row.estado == 'ACTIVO'" class="label label-success">
                                        <i class="glyphicon glyphicon-ok"></i> {{lblActivo}}</span>
                                    <span *ngIf="row.estado == 'INACTIVO'" class="label label-danger">
                                        <i class="glyphicon glyphicon-remove"></i> {{lblInactivo}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="{{lblAcciones}}" sortable="false" prop="id" [width]="50"
                                [resizeable]="false">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button style="margin-left: 2%" (click)="visualizar(row.id)" placement="top"
                                        tooltip="{{lblVer}}" class="btn btn-primary btn-xs txt-color-white"
                                        md-icon-button>
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button style="margin-left: 2%" (click)="editar(row.id)" placement="top"
                                        tooltip="{{lblEditar}}" class="btn btn-warning btn-xs txt-color-white"
                                        md-icon-button>
                                        <i class="fa fa-pencil-square-o"></i>
                                    </button>
                                    <button style="margin-left: 2%" (click)="openModal(row.id)" placement="top"
                                        tooltip="{{lblEliminar}}" class="btn btn-danger btn-xs txt-color-white"
                                        md-icon-button>
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
            <!-- ============================================================================================ -->
        </div>
        <!-- ============================================================================================ -->
        <div class="row" *ngIf="editando()">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false" [sortable]="false"
                    [fullscreenbutton]="false">
                    <div>
                        <div class="widget-body">
                            <div class="tabbable tabs-below">
                                <div class="tab-content">
                                    <tabset>
                                        <tab [active]="currentTab == 'PARAMETROS'">
                                            <!-- =========================General form definido en el component.ts====================== -->
                                            <general-form #formParametroId [parameters]="formParametro"></general-form>
                                            <!-- ======================================================================================= -->
                                        </tab>
                                        <tab [active]="currentTab == 'VIGENCIAS'">
                                            <parametro-vigencia *ngIf="parametro!=null" [parametro]="parametro"
                                                [disableEdit]="disable" (agregarVigencias)="agregarVigencias($event)">
                                            </parametro-vigencia>
                                        </tab>
                                    </tabset>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li [class.active]="currentTab == 'PARAMETROS'" class="active">
                                        <a (click)="selectTab('PARAMETROS')">{{lblParametros}}</a>
                                    </li>
                                    <li *ngIf="tabVigencia" [class.active]="currentTab == 'VIGENCIAS'" class="active">
                                        <a (click)="selectTab('VIGENCIAS')">{{lblVigencias}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sa-widgets-grid>
<!-- ============================================================================================ -->
<!-- ===========================Ventana confirmación eliminar registro============================= -->
<div *ngIf="confirmDialog" class="divMessageBox animated fadeIn fast" id="MsgBoxBack">
    <div class="MessageBoxContainer animated fadeIn fast" id="Msg1">
        <div class="MessageBoxMiddle">
            <span class="MsgTitle">
                <i class="fa fa-times" style="color:#ed1c24"></i> {{lblEliminar}}: [{{parametro.codigo}}]
                {{parametro.nombre}}</span>
            <p>{{msgDeseaEliminar}} </p>
            <div class="MessageBoxButtonSection">
                <button type="button" class="btn btn-default btn-sm botTempo" (click)="confirm()">{{lblSi}}</button>
                <button type="button" class="btn btn-default btn-sm botTempo" (click)="decline()">{{lblNo}}</button>
            </div>
        </div>
    </div>
</div>