<p-pickList #picklist [source]="arrayFirst" [target]="arraySecond" [responsive]="true" sourceHeader="{{lblElementosAsociados}}" targetHeader="{{lblElementosDisponibles}}" filterBy="valorDos" dragdrop="true">
    <ng-template let-elemento pTemplate="item" let-expanded="expanded" ngx-datatable-cell-template>
        <table>
            <tr>
                <td style="width: 100px">{{elemento.valorUno}}</td>
                <td style="align-content: flex-start; width: 200px">{{elemento.valorDos}}</td>
                <td>
                    <span *ngIf="elemento.estado == 'ACTIVO'" class="label label-success">
                    <i class="glyphicon glyphicon-ok"></i> {{lblActivo}}</span>
                    <span *ngIf="elemento.estado == 'INACTIVO'" class="label label-danger">
                    <i class="glyphicon glyphicon-remove"></i> {{lblInactivo}}</span>
                </td>
            </tr>
        </table>
    </ng-template>
</p-pickList>