<!-- ===============Sección de botones Guardar, Agregar y Cancelar======================= -->
<menu-bar title="{{lblRecursos}}">
    <button class="btn btn-success pull-right" *ngIf="editando()" type="button" (click)="onSubmit()"
        [(disabled)]="isInvalid || desactivar">
        <i class="fa fa-plus"></i>
        {{lblGuardar}}
    </button>
    <button class="btn btn-success pull-right margin-right-5" *ngIf="consultando()" (click)="verFormulario()">
        <i class="fa fa-plus"></i>
        <span class="hidden-mobile"> {{lblAgregar}}</span>
    </button>
    <button class="btn btn-default pull-right margin-right-5" *ngIf="editando()" (click)="verTabla()">
        <i class="fa fa-arrow-left"></i>
        <span class="hidden-mobile"> {{lblCancelar}}</span>
    </button>
</menu-bar>
<!-- ============================================================================================ -->
<!-- =================Componente de filtrado y registros listados======================= -->
<sa-widgets-grid>
    <div class="margin-auto">
        <div *ngIf="consultando()" class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-0"
            data-widget-editbutton="false" role="widget">
            <!-- =======================Sección para criterios de busqueda=========================== -->
            <header role="heading" class="ui-sortable-handle">
                <h2><i class="fa fa-search"></i> {{lblCriteriosBusqueda}} </h2>
                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
            </header>
            <div role="content">
                <div class="widget-body well">
                    <div class="row show-grid">
                        <div class="col-md-4">
                            <section class="smart-form">
                                <label class="label"><b>{{lblCampo}}</b></label>
                                <label class="select">
                                    <select (ngModelChange)="limpiarCriterio()" [(ngModel)]="campo" class="input-sm">
                                        <option value="codigo">{{lblCodigo}}</option>
                                        <option value="nombre">{{lblNombre}}</option>
                                        <option value="modulo">{{lblModulo}}</option>
                                    </select> <i></i> </label>
                            </section>
                        </div>
                        <div class="smart-form col-md-4">
                            <label class="label"><b>{{lblEstado}}</b></label><br>
                            <div class="btn-group" style="margin-top: -11.5%">
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="ACTIVO" tabindex="0"
                                    role="button">{{lblActivo}}</label>
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="INACTIVO" tabindex="0"
                                    role="button">{{lblInactivo}}</label>
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="ACTIVO,INACTIVO"
                                    tabindex="0" role="button">{{lblTodos}}</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group" style="margin-top: 11%">
                                <input *ngIf="campo!='modulo'" [(ngModel)]="criterio "
                                    [ngModelOptions]="{standalone: true}" class="form-control" type="text "
                                    placeholder="{{lblCriterioBusqueda}} ... ">
                                <div *ngIf="campo=='modulo'" class="smart-form ">
                                    <label class=" select" style="width: 100%;">
                                        <select [(ngModel)]="criterio" style="width: 100%;">
                                            <option *ngFor="let modulo of modulos" [value]="modulo.value">
                                                {{modulo.label}}</option>
                                        </select> <i></i>
                                    </label>
                                </div>
                                <div class="input-group-btn">
                                    <button class="btn btn-default btn-primary " type="button " (click)="consultar() ">
                                        <i class="fa fa-search "></i> {{lblBuscar}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================================================ -->
            <!-- ======================Sección tabla resultados de consulta======================== -->

            <div>
                <div class="row " style="padding: 8px 12px ">
                    <!-- Filtro del Datatable -->
                    <div class="col-md-6 ">
                        <div class="input-group ">
                            <div class="icon-addon ">
                                <input type="text " class="form-control " [(ngModel)]="controls.filter "
                                    placeholder='{{lblFiltroTabla}}...' (keyup)='updateFilter($event)'>
                                <label style="z-index: 22 " for="search " class="fa fa-search " rel="tooltip "
                                    title="search "></label>
                            </div>
                        </div>
                    </div>
                    <!-- Paginacion del Datatable -->
                    <div class="col-md-6 ">
                        <select class="pull-right form-control " style="width: 70px; "
                            (ngModelChange)="updatePageSize($event) " [(ngModel)]="controls.pageSize ">
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>50</option>
                        </select>
                    </div>
                </div>
                <ngx-datatable class="material striped ngx-datatable fixed-header " [rows]="rows "
                    [loadingIndicator]="loadingIndicator " [columnMode]=" 'force' " [headerHeight]="40 "
                    [footerHeight]="45 " [rowHeight]=" 'auto' " [externalPaging]="true
                                " [count]="controls.rowCount " [offset]="controls.curPage "
                    [limit]="controls.pageSize " (page)='setPage($event)'
                    [cssClasses]="{ sortAscending: 'fa fa-caret-up', sortDescending: 'fa fa-caret-down', pagerLeftArrow: 'fa  fa-angle-left', pagerRightArrow:
                                'fa fa-angle-right', pagerPrevious: 'fa fa-angle-double-left', pagerNext: 'fa fa-angle-double-right' } " [reorderable]="reorderable "
                    [messages]="messages ">
                    <ngx-datatable-column name="{{lblCodigo}} " [width]="50 " [resizeable]="false ">
                        <ng-template let-row="row " let-expanded="expanded " ngx-datatable-cell-template>
                            [{{row.codigo}}]
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{lblNombre}} " [width]="50 " [resizeable]="false ">
                        <ng-template let-row="row " let-expanded="expanded " ngx-datatable-cell-template>
                            {{row.nombre}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{lblModulo}} " [width]="50 " [resizeable]="false ">
                        <ng-template let-row="row " let-expanded="expanded " ngx-datatable-cell-template>
                            {{row.modulo.nombre}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{lblEstado}} " [width]="50 " [resizeable]="false ">
                        <ng-template let-row="row " let-expanded="expanded " ngx-datatable-cell-template>
                            <span *ngIf="row.estado=='ACTIVO' " class="label label-success ">
                                <i class="glyphicon glyphicon-ok "></i> Activo</span>
                            <span *ngIf="row.estado=='INACTIVO' " class="label label-danger ">
                                <i class="glyphicon glyphicon-remove "></i> Inactivo</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="{{lblAcciones}} " sortable="false " prop="id " [width]="50 "
                        [resizeable]="false ">
                        <ng-template let-row="row " let-value="value " ngx-datatable-cell-template>
                            <button style="margin-left: 2% " (click)="visualizar(row.id) " placement="top "
                                tooltip="{{lblVer}} " class="btn btn-primary btn-xs txt-color-white " md-icon-button>
                                <i class="fa fa-eye "></i>
                            </button>
                            <button style="margin-left: 2% " (click)="editar(row.id) " placement="top "
                                tooltip="{{lblEditar}} " class="btn btn-warning btn-xs txt-color-white " md-icon-button>
                                <i class="fa fa-pencil-square-o "></i>
                            </button>
                            <button style="margin-left: 2% " (click)="openModal(row.id) " placement="top "
                                tooltip="{{lblEliminar}} " class="btn btn-danger btn-xs txt-color-white "
                                md-icon-button>
                                <i class="fa fa-trash-o "></i>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable><br>
            </div>
            <!-- ============================================================================================ -->
        </div>
        <!-- ============================================================================================ -->
        <div *ngIf="editando() ">
            <div sa-widget [colorbutton]="false " [editbutton]="false " [deletebutton]="false " [sortable]="false "
                [fullscreenbutton]="false ">
                <div class="widget-body tabbable tabs-below ">
                    <div class="tab-content ">
                        <tabset>
                            <tab [active]="currentTab=='RECURSOS' ">
                                <!-- =========================General form definido en el component.ts====================== -->
                                <general-form #formResource [parameters]="formRecursos "></general-form>
                                <!-- ======================================================================================= -->
                                <!-- =========================General form definido en el component.ts====================== -->
                                <div *ngIf="estadoAuditoria">
                                    <general-form #formResourceAuditory [parameters]="formRecursoAuditoria ">
                                    </general-form>
                                </div>
                                <!-- ======================================================================================= -->
                                <!-- =========================General form definido en el component.ts====================== -->
                                <div *ngIf="estadoReporte">
                                    <general-form #formResourceExtend [parameters]="formRecursoExtentido ">
                                    </general-form>
                                </div>
                                <!-- ======================================================================================= -->
                                <div class=" margin-auto smart-form">
                                    <label class="label prueba"><b>{{lblDocumentacion}}</b></label>
                                    <label class="textarea">
                                        <textarea [(ngModel)]="documentacion" [(disabled)]="isInvalid || desactivar"
                                            rows="3" class="prueba" style="width: 112%; "></textarea>
                                    </label>
                                </div><br>
                            </tab>
                            <tab [active]="currentTab=='PRIVILEGIOS' ">
                                <div>
                                    <div class="smart-form">
                                        <header>
                                            {{lblPrivilegiosAsociados}} [{{recurso.codigo}}] {{recurso.nombre}}
                                        </header>
                                    </div>
                                    <div class="ubicacion">
                                        <privilegios [datos]="informacion"></privilegios>
                                    </div>
                                </div>

                            </tab>
                        </tabset>
                    </div>
                    <ul class="nav nav-tabs ">
                        <li [class.active]="currentTab=='RECURSOS' " class="active ">
                            <a (click)="selectTab( 'RECURSOS') ">{{lblRecursos}}</a>
                        </li>
                        <li *ngIf="pestanias " [class.active]="currentTab=='PRIVILEGIOS' " class="active ">
                            <a (click)="selectTab( 'PRIVILEGIOS') ">{{lblPrivilegios}}</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</sa-widgets-grid>
<!-- ============================================================================================ -->
<!-- ==========================Ventana confirmación eliminar registro============================ -->
<div *ngIf="confirmDialog " class="divMessageBox animated fadeIn fast " id="MsgBoxBack ">
    <div class="MessageBoxContainer animated fadeIn fast " id="Msg1 ">
        <div class="MessageBoxMiddle ">
            <span class="MsgTitle ">
                <i class="fa fa-times " style="color:#ed1c24 "></i> {{lblEliminar}}: [{{recurso.codigo}}]
                {{recurso.nombre}}</span>
            <p *ngIf="!sePuedeEliminar">{{msgDeseaEliminar}}</p>
            <p *ngIf="sePuedeEliminar">{{msgNoSePuedeEliminar}}</p>
            <div class="MessageBoxButtonSection ">
                <button *ngIf="!sePuedeEliminar" type="button " class="btn btn-default btn-sm botTempo "
                    (click)="confirm() ">{{lblSi}}</button>
                <button *ngIf="!sePuedeEliminar" type="button " class="btn btn-default btn-sm botTempo "
                    (click)="decline() ">{{lblNo}}</button>
                <button *ngIf="sePuedeEliminar" type="button " class="btn btn-default btn-sm botTempo "
                    (click)="decline() ">{{lblCancelar}}</button>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================================================ -->