<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>
        <li routerLinkActive="active">
          <a routerLink="/modules/home">{{'Home' | i18n}}</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/tc/tablero-control"> Tablero de Control</a>
        </li>
    </ul>

  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
