<!-- ===============Sección de botones Guardar, Agregar y Cancelar======================= -->
<menu-bar title="{{commonValues.CUENTAS_USUARIO_LABEL}}"> <span *ngIf="persona.pmtIdentificacion && !consultando()"> - [{{persona.pmtIdentificacion.pmtTipoIdentificacion.codigo}}]{{persona.pmtIdentificacion.identificacion}}</span>
    <button class="btn btn-success pull-right" *ngIf="editando()" form="moduloform" type="submit"
        [(disabled)]="isInvalid || desactivar" (click)="onSubmit()">
        <i class="fa fa-plus"></i>
        {{commonValues.GUARDAR_LABEL}}
    </button>
    <button class="btn btn-success pull-right margin-right-5" *ngIf="consultando()" (click)="nuevoForm()">
        <i class="fa fa-plus"></i>
        <span class="hidden-mobile"> {{commonValues.AGREGAR_LABEL}}</span>
    </button>
    <button class="btn btn-default pull-right margin-right-5" *ngIf="editando()" (click)="verTabla()">
        <i class="fa fa-arrow-left"></i>
        <span class="hidden-mobile"> {{commonValues.CANCELAR_LABEL}}</span>
    </button>
</menu-bar>
<!-- ============================================================================================ -->

<!-- =================Componente de filtrado y registros listados======================= -->
<sa-widgets-grid>
    <div class="margin-auto">
        <div *ngIf="consultando()" class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-0"
            data-widget-editbutton="false" role="widget">
            <!-- =======================Sección para criterios de busqueda=========================== -->
            <header role="heading" class="ui-sortable-handle">
                <h2><i class="fa fa-search"></i> {{commonValues.CRITERIOS_BUSQUEDA_LABEL}} </h2>
                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
            </header>
            <div role="content">
                <div class="widget-body well">
                    <div class="row show-grid">
                        <div class="col-md-4">
                            <section class="smart-form">
                                <label class="label"><b>{{commonValues.CAMPO_LABEL}}</b></label>
                                <label class="select">
                                    <select (ngModelChange)="limpiarCriterio()" [(ngModel)]="campo" class="input-sm">
                                        <option value="codigo">{{commonValues.CODIGO_LABEL}}</option>
                                        <option value="nombre">{{commonValues.NOMBRE_LABEL}}</option>
                                    </select> <i></i> </label>
                            </section>
                        </div>
                        <div class="smart-form col-md-4">
                            <label class="label"><b>{{commonValues.ESTADO_LABEL}}</b></label><br>
                            <div class="btn-group" style="margin-top: -11.5%">
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="ACTIVO" tabindex="0"
                                    role="button">{{commonValues.ACTIVO_LABEL}}</label>
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="INACTIVO" tabindex="0"
                                    role="button">{{commonValues.INACTIVO_LABEL}}</label>
                                <label class="btn btn-primary" [(ngModel)]="estado" btnRadio="ACTIVO,INACTIVO"
                                    tabindex="0" role="button">{{commonValues.TODOS_LABEL}}</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group" style="margin-top: 11%">
                                <input [(ngModel)]="criterio " [ngModelOptions]="{standalone: true}"
                                    class="form-control" type="text "
                                    placeholder="{{commonValues.CRITERIO_BUSQUEDA_LABEL}} ... ">
                                <!--  -->
                                <div class="input-group-btn">
                                    <button class="btn btn-default btn-primary " type="button " (click)="consultar()">
                                        <i class="fa fa-search "></i> {{commonValues.BUSCAR_LABEL}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================================================ -->
            <!-- ======================Sección tabla resultados de consulta======================== -->
            <div>
                <div class="row" style="padding: 8px 12px">
                    <!-- Filtro del Datatable -->
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="icon-addon">
                                <input type="text" class="form-control" [(ngModel)]="controls.filter"
                                    placeholder='{{commonValues.FILTRO_TABLA_LABEL}}...' (keyup)='updateFilter($event)'>
                                <label style="z-index: 22" for="search" class="fa fa-search" rel="tooltip"
                                    title="search"></label>
                            </div>
                        </div>
                    </div>
                    <!-- Paginacion del Datatable -->
                    <div class="col-md-6">
                        <select class="pull-right form-control " style="width: 70px;"
                            (ngModelChange)="updatePageSize($event)" [(ngModel)]="valorPaginado">
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>50</option>
                        </select>
                    </div>
                </div>
                <ngx-datatable class="material sombra striped ngx-datatable fixed-header" [rows]="rows"
                    [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="45"
                    [rowHeight]="'auto'" [externalPaging]="true" [count]="controls.rowCount" [offset]="controls.curPage"
                    [limit]="controls.pageSize" (page)='setPage($event)' [cssClasses]="{
                                              sortAscending: 'fa fa-caret-up',
                                              sortDescending: 'fa fa-caret-down',
                                              pagerLeftArrow: 'fa  fa-angle-left',
                                              pagerRightArrow: 'fa fa-angle-right',
                                              pagerPrevious: 'fa fa-angle-double-left',
                                              pagerNext: 'fa fa-angle-double-right'
                                            }" [reorderable]="reorderable" [messages]="messages">
                    <ngx-datatable-column name="{{commonValues.IDENTIFICACION_LABEL}}" [width]="50"
                        [resizeable]="false">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                            [{{row.persona.pmtIdentificacion.pmtTipoIdentificacion.codigo}}]
                            {{row.persona.pmtIdentificacion.identificacion}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{commonValues.NOMBRE_LABEL}}" [width]="50" [resizeable]="false">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                            {{row.persona.nombre}} {{row.persona.primerApellido}} {{row.persona.segundoApellido}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{commonValues.CUENTA_LABEL}}" [width]="50" [resizeable]="false">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                            {{row.cuentaUsuario}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{commonValues.ESTADO_LABEL}}" [width]="50" [resizeable]="false">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                            <span *ngIf="row.estado == 'ACTIVO'" class="label label-success">
                                <i class="glyphicon glyphicon-ok"></i> {{commonValues.ACTIVO_LABEL}}</span>
                            <span *ngIf="row.estado == 'INACTIVO'" class="label label-danger">
                                <i class="glyphicon glyphicon-remove"></i> {{commonValues.INACTIVO_LABEL}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="{{commonValues.ACCIONES_LABEL}}" sortable="false" prop="id" [width]="50"
                        [resizeable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <button style="margin-left: 2%" (click)="visualizar(row.id)" placement="top"
                                tooltip="commonValues.VER_LABEL" class="btn btn-primary btn-xs txt-color-white"
                                md-icon-button>
                                <i class="fa fa-eye"></i>
                            </button>
                            <button style="margin-left: 2%" (click)="editarForm(row.id)" placement="top"
                                tooltip="Editar" class="btn btn-warning btn-xs txt-color-white" md-icon-button>
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                            <button style="margin-left: 2%" (click)="openModal(row.id)" placement="top"
                                tooltip="Eliminar" class="btn btn-danger btn-xs txt-color-white" md-icon-button>
                                <i class="fa fa-trash-o"></i>
                            </button>

                        </ng-template>

                    </ngx-datatable-column>
                </ngx-datatable><br>
            </div>
            <!-- ============================================================================================ -->
        </div>
        <!-- ============================================================================================ -->
        <div class="row" *ngIf="editando()">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false" [sortable]="false"
                    [fullscreenbutton]="false">
                    <div>
                        <div class="widget-body">
                            <div class="tabbable tabs-below">
                                <div class="tab-content">
                                    <tabset>
                                        <tab [active]="currentTab == 'CUENTA'">
                                            <!-- =========================General form definido en el component.ts====================== -->
                                            <general-form #formUsuarios [parameters]="formUsuario"></general-form>
                                            <general-form #formCuentaUsuarios [parameters]="formCuentaUsuario">
                                            </general-form>
                                            <!-- ============================================================================================ -->
                                        </tab>
                                        <tab [active]="currentTab == 'PERFILES'">
                                            <br>
                                            <picklist #pickPerfiles [arrayUno]="arrayPerfilesAsociados"
                                                [arrayDos]="arrayPerfilesDisponibles"></picklist>
                                            <br>
                                        </tab>
                                        <tab *ngIf="viewTabPrivilegios" [active]="currentTab == 'PRIVILEGIOS'">
                                            <br>
                                            <privilegios-view id="privilegios" *ngIf="cuentaOk"
                                                [cuentaUsuario]="cuentaUsuarioVO"></privilegios-view>
                                            <br>
                                        </tab>
                                    </tabset>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li [class.active]="currentTab == 'CUENTA'" class="active">
                                        <a (click)="selectTab('CUENTA')">{{commonValues.CUENTAS_LABEL}}</a>
                                    </li>
                                    <li [class.active]="currentTab == 'PERFILES'" class="active">
                                        <a (click)="selectTab('PERFILES')">{{commonValues.PERFILES_LABEL}}</a>
                                    </li>
                                    <li *ngIf="viewTabPrivilegios" [class.active]="currentTab == 'PRIVILEGIOS'"
                                        class="active">
                                        <a (click)="selectTab('PRIVILEGIOS')">{{commonValues.PRIVILEGIOS_LABEL}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sa-widgets-grid>
<!-- ============================================================================================ -->
<!-- ===========================Ventana confirmación eliminar registro============================= -->
<div *ngIf="confirmDialog" class="divMessageBox animated fadeIn fast" id="MsgBoxBack">
    <div class="MessageBoxContainer animated fadeIn fast" id="Msg1">
        <div class="MessageBoxMiddle">
            <span class="MsgTitle">
                <i class="fa fa-times" style="color:#ed1c24"></i> {{commonValues.ELIMINAR_LABEL}}:
                [{{cuentaUsuarioVO.cuentaUsuario}}] {{cuentaUsuarioVO.persona.nombre}}
                {{cuentaUsuarioVO.persona.primerApellido}}</span>
            <p *ngIf="!sePuedeEliminar">{{commonMessage.DESEA_ELIMINAR_REGISTRO}}</p>
            <p *ngIf="sePuedeEliminar">{{commonMessage.NO_SE_PUEDE_ELIMINAR}}</p>
            <div class="MessageBoxButtonSection">
                <button *ngIf="!sePuedeEliminar" type="button " class="btn btn-default btn-sm botTempo "
                    (click)="confirm() ">{{commonValues.SI_LABEL}}</button>
                <button *ngIf="!sePuedeEliminar" type="button " class="btn btn-default btn-sm botTempo "
                    (click)="decline() ">{{commonValues.NO_LABEL}}</button>
                <button *ngIf="sePuedeEliminar" type="button " class="btn btn-default btn-sm botTempo "
                    (click)="decline() ">{{commonValues.CANCELAR_LABEL}}</button>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================================================ -->
<div *ngIf="editDialog" class="divMessageBox animated fadeIn fast" id="MsgBoxBack">
    <div class="MessageBoxContainer animated fadeIn fast" id="Msg1">
        <div class="MessageBoxMiddle">
            <span class="MsgTitle">
                <i class="fa fa-times" style="color:#ed1c24"></i> ¿Está seguro que desea modificar el registro?</span>            
            <div class="MessageBoxButtonSection">
                <button type="button " class="btn btn-default btn-sm botTempo"
                    (click)="confirmEdit() ">{{commonValues.SI_LABEL}}</button>
                <button type="button " class="btn btn-default btn-sm botTempo"
                    (click)="declineEdit() ">{{commonValues.NO_LABEL}}</button>
            </div>
        </div>
    </div>
</div>
