<div id="content">
    <sa-widgets-grid>
        <!-- Fila componentes Consulta -->
        <div class="row" *ngIf="!formularioVisibleElemento">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false" [sortable]="false"
                    [fullscreenbutton]="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-table"></i></span>
                        <h2><strong>{{lblConsulta}} {{lblElementos}}</strong></h2>
                    </header>
                    <div>
                        <div class="widget-body" *blockUI="'formConsulta'">
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 text-right">
                                        <button class="btn btn-success" (click)="verFormulario()">
                                            <i class="fa fa-plus"></i>
                                            <span class="hidden-mobile"> {{lblAgregar}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="lightest-gray-bg">
                                <div class="row" style="padding: 8px 12px">
                                    <!-- Filtro del Datatable -->
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="icon-addon">
                                                <input type="text" id="search" class="form-control"
                                                    [(ngModel)]="controls.filter" placeholder='{{lblFiltroTabla}}...'
                                                    (keyup)='updateFilter($event)'>
                                                <label style="z-index: 22" for="search" class="fa fa-search"
                                                    rel="tooltip" title="search"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Paginacion del Datatable -->
                                    <div class="col-md-6">
                                        <select class="pull-right form-control " style="width: 70px;"
                                            (ngModelChange)="updatePageSize($event)" [(ngModel)]="controls.pageSize">
                                            <option>10</option>
                                            <option>20</option>
                                            <option>30</option>
                                            <option>50</option>
                                        </select>
                                    </div>
                                </div>
                                <ngx-datatable class="material striped expandable" [rows]="rows"
                                    [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="40"
                                    [footerHeight]="45" [rowHeight]="'auto'" [externalPaging]="true"
                                    [count]="controls.rowCount" [offset]="controls.curPage" [limit]="controls.pageSize"
                                    (page)='setPage($event)'
                                    [cssClasses]="{sortAscending: 'fa fa-caret-up',sortDescending: 'fa fa-caret-down',pagerLeftArrow: 'fa  fa-angle-left',pagerRightArrow: 'fa fa-angle-right',pagerPrevious: 'fa fa-angle-double-left',pagerNext: 'fa fa-angle-double-right'}"
                                    [reorderable]="reorderable" [messages]="messages">
                                    <ngx-datatable-column name="{{lblOrden}}" [width]="120" [maxWidth]="120"
                                        [resizeable]="false">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.orden}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="{{lblValor}}" [width]="120" [maxWidth]="120"
                                        [resizeable]="false">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.valor}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="{{lblEtiqueta}}" [resizeable]="false">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.etiqueta}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column headerClass="text-center" cellClass="text-center"
                                        name="{{lblAcciones}}" sortable="false" prop="id" [width]="100" [maxWidth]="100"
                                        [resizeable]="false">
                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                            <button style="margin-left: 2%" (click)="visualizar(row.id,true)"
                                                placement="top" tooltip="{{lblVer}}"
                                                class="btn btn-primary btn-xs txt-color-white" md-icon-button>
                                                <i class="fa fa-eye"></i>
                                            </button>
                                            <button style="margin-left: 2%" (click)="visualizar(row.id,false)"
                                                [disabled]="isInvalid" placement="top" tooltip="{{lblEditar}}"
                                                class="btn btn-warning btn-xs txt-color-white" md-icon-button>
                                                <i class="fa fa-pencil-square-o"></i>
                                            </button>
                                            <button style="margin-left: 2%" (click)="openModal(row.id)" placement="top"
                                                tooltip="{{lblEliminar}}" class="btn btn-danger btn-xs txt-color-white"
                                                md-icon-button>
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================================================ -->
        <!-- Fila componentes formulario -->
        <div *ngIf="formularioVisibleElemento" aria-hidden="false" aria-labelledby="mySmallModalLabel" bsmodal=""
            class="modal fade in divMessageBox animated fadeIn fast " role="dialog" tabindex="-1" aria-modal="true"
            style="display: block;">
            <div class="modal-dialog modal-form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><img alt="SmartAdmin" src="assets/img/logo_xoftix.png" width="150"
                                height="80"></h4>
                    </div>
                    <div class="modal-body no-padding" *blockUI="'formRegistro'">
                        <div class="margin-auto">
                            <h3 style="text-align: center;">{{lblElementos}}</h3>
                            <general-form #formularioPrincipalAtributos [parameters]="formularioElementos">
                            </general-form>
                        </div>
                    </div>
                    <div class="modal-dialog modal-sm">
                        <div style="text-align: center;">
                            <button *ngIf="formularioVisibleElemento && listaElementos.id == null"
                                class="btn btn-success" type="submit" [disabled]="isInvalid || desactivar"
                                (click)="onSubmit()">
                                <i class="fa fa-save"></i>
                                {{lblGuardar}}
                            </button>
                            &nbsp;
                            <button class="btn btn-warning" type="button" (click)="ocultarFormulario()">
                                <i class="fa fa-remove"></i>
                                {{lblCancelar}}
                            </button>
                            &nbsp;
                            <button *ngIf="formularioVisibleElemento && listaElementos.id != null"
                                class="btn btn-primary" type="button" [disabled]="isInvalid || desactivar"
                                (click)="openModalMod()">
                                <i class="fa fa-save"></i>
                                {{lblEditar}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sa-widgets-grid>
    <!-- ============================================================================================ -->
    <!-- ===========================Ventana confirmación eliminar registro============================= -->
    <div *ngIf="confirmDialog" class="divMessageBox animated fadeIn fast" id="MsgBoxBack">
        <div class="MessageBoxContainer animated fadeIn fast" id="Msg1">
            <div class="MessageBoxMiddle">
                <span class="MsgTitle">
                    <i class="fa fa-times" style="color:#ed1c24"></i> {{lblEliminar}}: [{{listaElementos.idListaValores.codigo}}]
                    {{listaElementos.idListaValores.nombre}}</span>
                <p>{{msgDeseaEliminar}} </p>
                <div class="MessageBoxButtonSection">
                    <button type="button" class="btn btn-default btn-sm botTempo" (click)="confirm()">{{lblSi}}</button>
                    <button type="button" class="btn btn-default btn-sm botTempo" (click)="decline()">{{lblNo}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ==========================Ventana confirmación modificar registro=========================== -->
    <div *ngIf="confirmDialogMod" class="divMessageBox animated fadeIn fast" id="MsgBoxBack">
        <div class="MessageBoxContainer animated fadeIn fast" id="Msg1">
            <div class="MessageBoxMiddle">
                <span class="MsgTitle">
                    <i class="fa fa-times" style="color:#ed1c24"></i> {{lblModificar}}:
                    [{{listaElementos.idListaValores.codigo}}]
                    {{listaElementos.idListaValores.nombre}}</span>
                <p>{{msgDeseaModificar}} </p>
                <div class="MessageBoxButtonSection">
                    <button type="button" class="btn btn-default btn-sm botTempo"
                        (click)="confirmMod()">{{lblSi}}</button>
                    <button type="button" class="btn btn-default btn-sm botTempo"
                        (click)="declineMod()">{{lblNo}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================================================ -->
</div>