<div id="content">
    <sa-widgets-grid>
        <!-- Fila componentes Consulta -->
        <div class="row" *ngIf="consultando()">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false" [sortable]="false" [fullscreenbutton]="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-table"></i></span>
                        <h2><strong>{{lblConsulta}} {{lblObjetoNegocio}}</strong></h2>
                    </header>
                    <div>
                        <div class="widget-body" *blockUI="'formConsulta'">
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <label class="control-label"><strong>{{lblCampos}}: &nbsp;&nbsp;</strong></label>
                                        <div class="btn-group padd-button" data-toggle="buttons">
                                            <label class="btn btn-default btn-sm" [saToggleActive]="campo == 'codigo'">
                        <input type="radio" name="campo" [(ngModel)]="campo" value="codigo" /> {{lblCodigo}}
                      </label>
                                            <label class="btn btn-default btn-sm" [saToggleActive]="campo == 'nombre'">
                        <input type="radio" name="campo" [(ngModel)]="campo" value="nombre" /> {{lblNombre}}
                      </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-right">
                                        <label class="control-label"><strong>{{lblEstado}}: &nbsp;&nbsp;&nbsp;</strong></label>
                                        <div class="btn-group padd-button" data-toggle="buttons">
                                            <label class="btn btn-default btn-sm" [saToggleActive]="estado == 'ACTIVO'">
                        <input type="radio" name="estado" [(ngModel)]="estado" value="ACTIVO" /> {{lblActivo}}
                      </label>
                                            <label class="btn btn-default btn-sm" [saToggleActive]="estado == 'INACTIVO'">
                        <input type="radio" name="estado" [(ngModel)]="estado" value="INACTIVO" /> {{lblInactivo}}
                      </label>
                                            <label class="btn btn-default btn-sm" [saToggleActive]="estado == 'ACTIVO,INACTIVO'">
                        <input type="radio" name="estado" [(ngModel)]="estado" value="ACTIVO,INACTIVO" /> {{lblTodos}}
                      </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <form [formGroup]="formCriterio" novalidate>
                                            <div class="input-group">
                                                <input class="form-control" type="text" [(ngModel)]="criterio" (keyup.enter)="consultar(true)" name="criterio" id="criterio" formControlName="criterio" [ngClass]="{'invalid-field':criterioRequerido && formCriterio.controls['criterio'].errors}" required
                                                    placeholder="{{lblCriterioBusqueda}} ... ">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default btn-primary" type="button" (click)="consultar(true)">
                            <i class="fa fa-search"></i> {{lblBuscar}}
                          </button>
                                                </div>
                                            </div>
                                            <div *ngIf="criterioRequerido && formCriterio.controls['criterio'].errors" class="errorMessage">
                                                <p *ngIf="formCriterio.controls['criterio'].errors.required">{{msgCriterioObligatorio}}</p>
                                            </div>
                                        </form>
                                        gadf
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 text-right">
                                        <button class="btn btn-success" (click)="verFormulario()">
                      <i class="fa fa-plus"></i>
                      <span class="hidden-mobile"> {{lblAgregar}}</span>
                    </button>
                                    </div>
                                </div>
                            </div>
                            <div class="lightest-gray-bg">
                                <div class="row" style="padding: 8px 12px">
                                    <!-- Filtro del Datatable -->
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="icon-addon">
                                                <input type="text" id="search" class="form-control" [(ngModel)]="controls.filter" placeholder='{{lblFiltroTabla}}...' (keyup)='updateFilter($event)'>
                                                <label style="z-index: 22" for="search" class="fa fa-search" rel="tooltip" title="search"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Paginacion del Datatable -->
                                    <div class="col-md-6">
                                        <select class="pull-right form-control " style="width: 70px;" (ngModelChange)="updatePageSize($event)" [(ngModel)]="controls.pageSize">
                      <option>10</option>
                      <option>20</option>
                      <option>30</option>
                      <option>50</option>
                    </select>
                                    </div>
                                </div>
                                <ngx-datatable class="material striped expandable" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="45" [rowHeight]="'auto'" [externalPaging]="true" [count]="controls.rowCount" [offset]="controls.curPage"
                                    [limit]="controls.pageSize" (page)='setPage($event)' [cssClasses]="{sortAscending: 'fa fa-caret-up',sortDescending: 'fa fa-caret-down',pagerLeftArrow: 'fa  fa-angle-left',pagerRightArrow: 'fa fa-angle-right',pagerPrevious: 'fa fa-angle-double-left',pagerNext: 'fa fa-angle-double-right'}"
                                    [reorderable]="reorderable" [messages]="messages">
                                    <ngx-datatable-column name="{{lblCodigo}}" [width]="120" [maxWidth]="120" [resizeable]="false">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.codigo}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="{{lblNombre}}" [resizeable]="false">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.nombre}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column headerClass="text-center" cellClass="text-center" name="{{lblEstado}}" [width]="100" [maxWidth]="100" [resizeable]="false">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            <span *ngIf="row.estado == 'ACTIVO'" class="label label-success">
                        <i class="glyphicon glyphicon-ok"></i> {{lblActivo}}</span>
                                            <span *ngIf="row.estado == 'INACTIVO'" class="label label-danger">
                        <i class="glyphicon glyphicon-remove"></i> {{lblInactivo}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column headerClass="text-center" cellClass="text-center" name="{{lblAcciones}}" sortable="false" prop="id" [width]="100" [maxWidth]="100" [resizeable]="false">
                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                            <button style="margin-left: 2%" (click)="visualizar(row.id,true)" placement="top" tooltip="{{lblVer}}" class="btn btn-primary btn-xs txt-color-white" md-icon-button>
                        <i class="fa fa-eye"></i>
                      </button>
                                            <button style="margin-left: 2%" (click)="visualizar(row.id,false)" placement="top" tooltip="{{lblEditar}}" class="btn btn-warning btn-xs txt-color-white" md-icon-button>
                        <i class="fa fa-pencil-square-o"></i>
                      </button>
                                            <button style="margin-left: 2%" (click)="openModal(row.id)" placement="top" tooltip="{{lblEliminar}}" class="btn btn-danger btn-xs txt-color-white" md-icon-button>
                        <i class="fa fa-trash-o"></i>
                      </button>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================================================ -->
        <!-- Fila componentes formulario -->
        <div class="row" *ngIf="editando()">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false" [sortable]="false" [fullscreenbutton]="false">
                    <header>
                        <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
                        <h2>
                            <strong>{{accion}} {{lblObjetoNegocio}}</strong>
                        </h2>
                    </header>
                    <div>
                        <div class="widget-body" *blockUI="'formRegistro'">
                            <!-- =========================General form definido en el component.ts====================== -->


                            <tabset class="tab-content">
                                <tab [active]="state.tabs.tab == 'objeto'" style="height:410px">
                                    <general-form [parameters]="formObjetoNegocio"></general-form>
                                </tab>
                                <tab [active]="state.tabs.tab == 'atributo'" style="height:410px">
                                    <div>
                                        <objeto-atributo [idObjeto]="idO" [auxEditar]="auxEditar" (listaAtributos)=asociarAtributos($event) [auxLista]="listaAtributosOutput"></objeto-atributo>
                                    </div>
                                </tab>
                            </tabset>

                            <ul class="nav nav-tabs">
                                <li [class.active]="state.tabs.tab=='objeto'" class="active">
                                    <a (click)="state.tabs.tab = 'objeto'" (click)="verbotones()">Objetos De Negocio</a>
                                </li>
                                <li [class.active]="state.tabs.tab=='atributo'">
                                    <a (click)="state.tabs.tab = 'atributo'" (click)="ocultarbotones()">Atributos</a>
                                </li>
                            </ul>
                            <br>
                            <!-- ============================================================================================ -->
                            <div style="text-align: center;" *ngIf="variableMostrarBotones">
                                <button class="btn btn-success" type="submit" [(disabled)]="isInvalid || desactivar" (click)="onSubmit()">
                  <i class="fa fa-save"></i>
                  {{lblGuardar}}
                </button> &nbsp;
                                <button class="btn btn-warning" type="button" (click)="verTabla()">
                  <i class="fa fa-remove"></i>
                  {{lblCancelar}}
                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sa-widgets-grid>
    <!-- ============================================================================================ -->
    <!-- ===========================Ventana confirmación eliminar registro============================= -->
    <div *ngIf="confirmDialog" class="divMessageBox animated fadeIn fast" id="MsgBoxBack">
        <div class="MessageBoxContainer animated fadeIn fast" id="Msg1">
            <div class="MessageBoxMiddle">
                <span class="MsgTitle">
          <i class="fa fa-times" style="color:#ed1c24"></i> {{lblEliminar}}: [{{objeto.codigo}}]
          {{objeto.nombre}}</span>
                <p *ngIf="!sePuedeEliminar">{{msgDeseaEliminar}}</p>
                <p *ngIf="sePuedeEliminar">{{msgNoSePuedeEliminar}}</p>
                <div class="MessageBoxButtonSection">
                    <button *ngIf="!sePuedeEliminar" type="button " class="btn btn-default btn-sm botTempo " (click)="confirm() ">{{lblSi}}</button>
                    <button *ngIf="!sePuedeEliminar" type="button " class="btn btn-default btn-sm botTempo " (click)="decline() ">{{lblNo}}</button>
                    <button *ngIf="sePuedeEliminar" type="button " class="btn btn-default btn-sm botTempo " (click)="decline() ">{{lblCancelar}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================================================ -->
</div>