<table style="width: 100%">
    <tr>
        <td width="100%">
            <label class="input">
                <i class="icon-append fa fa-search"></i>
                <input #pop2="bs-popover" placement="bottom" [popover]="ventanaSeleccionadora" [outsideClick]="true"
                    type="text" readonly [value]="textoElemento(value)" placeholder="Seleccione un registro"
                    [disabled]="isDisabled">
            </label>
        </td>
        <td width="5%">
            <button style="padding: 6px 6px 6px 6px" *ngIf="value!='' && !isDisabled" class="btn btn-default"
                (click)="limpiar()">
                <fa-icon [icon]="faEraser"></fa-icon>
            </button>
        </td>

    </tr>
</table>
<ng-template #ventanaSeleccionadora class="popover">
    <div class="row">
        <section class="col col-10">
            <general-form [parameters]="form"></general-form>
        </section>
        <section class="col col-2 btn-search">
            <button (click)="buscarTexto()" class="btn btn-primary">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </section>
    </div>
    <div class="row">
        <div style="margin: 0% 3% 3% 3%">
            <p-table [columns]="cols" [value]="listaTemp" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)"
                [paginator]="true" [rows]="5" [totalRecords]="totalRecords" [loading]="loading" [scrollable]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="seleccionable" (click)="asignar(rowData)">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            No existen registros relacionados
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</ng-template>