input:disabled {
    background-color: rgb(235, 235, 235);
    color: grey;
    border: 1px solid grey;
}

.seleccionable:hover {
    background-color: lightgray !important;
}

.btn-search {
    padding: 40px 15px 15px;
}