<ul class="nav nav-tabs">
    <li [class.active]="currentTab == 'HOME'" class="active">
        <a (click)="selectTab('HOME')">Home</a>
    </li>
    <li [class.active]="currentTab == tab.code" *ngFor="let tab of tabs">
        <a (click)="selectTab(tab.code)"> {{ tab.title }} </a>
    </li> 
</ul>
<tabset>
    <tab [active]="currentTab == 'HOME'">
    </tab>
    <tab [active]="currentTab == tab.code" *ngFor="let tab of tabs">
        <ng-template [ngComponentOutlet]="tab.component"> </ng-template>
    </tab>
</tabset>
