.box {
    width: 100%;
    height: 40px;
    padding: 3px;
    background-color: #fff; 
    position: sticky;
    top: 49px;
    z-index: 9999;
}
.title {
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
    line-height: 40px;
}
