<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>
        <li routerLinkActive="active">
          <a routerLink="/modules/home">{{'Home' | i18n}}</a>
        </li>
        <li class="open">
          <a><i class="fa fa-shield" aria-hidden="true"></i>
            <span class="menu-item-parent">Admin y seguridad</span>
            <b class="collapse-sign">
              <em class="fa fa-minus-square-o"></em>
            </b>
          </a>
          <ul style="display: block;">
              <li routerLinkActive="active">
              
                  <a routerLink="/modules/as/fuentedatos"><i class="fa fa-database" aria-hidden="true"></i>{{'Fuente de datos' | i18n}}</a>
                </li>
				<li routerLinkActive="active">
				   <a routerLink="/modules/as/nivelseguridad"><i class="fa fa-database" aria-hidden="true"></i>{{'Nivel de Seguridad' | i18n}}</a>
				</li>
          </ul>

        </li>
    </ul>

  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
