<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" role="widget">
    <menu-bar title="{{lblPrivilegio}}">
        <button class="btn btn-default pull-right margin-right-5" *ngIf="viewForm" (click)="verTabla()">
            <i class="fa fa-arrow-left"></i>
            <span class="hidden-mobile"> {{lblCancelar}}</span>
        </button>
    </menu-bar>
    <div *ngIf="!viewForm">
        <div class="row" style="padding: 8px 12px">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="icon-addon">
                        <input type="text" class="form-control" [(ngModel)]="controls.filter" placeholder='{{lblFiltroTabla}}...' (keyup)='updateFilter($event)'>
                        <label style="z-index: 22" for="search" class="fa fa-search" rel="tooltip" title="search"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <select class="pull-right form-control" style="width: 70px;" (ngModelChange)="updatePageSize($event)" [(ngModel)]="controls.pageSize">
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>50</option>
            </select>
            </div>
        </div>
        <ngx-datatable class="material striped ngx-datatable fixed-header" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]=" 'force'" [headerHeight]="40" [footerHeight]="45" [rowHeight]=" 'auto'" [limit]="controls.pageSize" [cssClasses]="{ sortAscending: 'fa fa-caret-up', sortDescending: 'fa fa-caret-down', pagerLeftArrow: 'fa  fa-angle-left', pagerRightArrow:
                    'fa fa-angle-right', pagerPrevious: 'fa fa-angle-double-left', pagerNext: 'fa fa-angle-double-right' }" [reorderable]="reorderable" [messages]="messages">
            <ngx-datatable-column name="{{lblCodigo}}" [width]="50" [resizeable]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    [{{row.codigo}}]
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{lblNombre}}" [width]="50" [resizeable]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.nombre}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{lblRecurso}}" [width]="50" [resizeable]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.recurso.nombre}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{lblEstado}}" [width]="50" [resizeable]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span *ngIf="row.estado=='ACTIVO'" class="label label-success">
                    <i class="glyphicon glyphicon-ok"></i> {{lblActivo}}</span>
                    <span *ngIf="row.estado=='INACTIVO'" class="label label-danger">
                    <i class="glyphicon glyphicon-remove"></i> {{lblInactivo}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{lblAcciones}}" sortable="false" prop="id" [width]="50" [resizeable]="true">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button style="margin-left: 2%" (click)="visualizar(row.id)" placement="top" tooltip="Ver" class="btn btn-primary btn-xs txt-color-white" md-icon-button>
                    <i class="fa fa-eye"></i>
                </button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable><br>
    </div>
    <general-form *ngIf="viewForm" #formPrivileges [parameters]="formPrivilegios "></general-form>
</div>