<!-- LINK CSS -->
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css"/>

<div>
    <div class="row-md-2">
        <div class="row-md-10">
            <div class="col-md-12">
                <paleta-herramientas>
                </paleta-herramientas>
            </div>
        </div>
    </div>
</div>
<!-- 88879468943 -->
  
