<div class="chart-wrapper">
    <canvas baseChart [style.background-color]="fondo" 
    [datasets]="datasets" 
    [labels]="labels" 
    [options]="options"
    [colors]="colors" 
    [legend]="legend" 
    [chartType]="chartType" 
    [plugins]="plugins">
    </canvas>
</div>