/* You can add global styles to this file, and also import other style files */


/* #GOOGLE FONT */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700");
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';
.margin-left-10 {
    margin-left: 10px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-auto {
    width: auto;
    margin: 10px 7% 0 7%;
}

.errorMessage {
    color: #b94a48;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    font-size: 11.93px;
}

.padding-6-12 {
    padding: 6px 12px;
}


/* animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.ui-picklist-listwrapper {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12) !important;
}

.ui-button {
    background-color: #3276B1 !important;
    color: #ffffff !important;
    border-color: transparent !important;
    font-size: 90% !important;
}

.ui-picklist .ui-picklist-list li {
    padding-bottom: 1px !important;
    padding-top: 1px !important;
}

.ui-picklist-source-controls {
    width: 0px !important;
    display: none !important;
}

.ui-picklist-target-controls {
    width: 0px !important;
    display: none !important;
}

.popover {
    min-width: 500px;
}

.sombra {
    box-shadow: none !important;
}

.ui-multiselect-label {
    width: 19em !important;
}

.bs-timepicker-field{
    width: 36px;
    height: 22px;
    padding: .375rem .55rem;
}

.ui-spinner.ui-widget.ui-corner-all{
    width: 219px !important;}
    
.fixed-ribbon #content {
    padding-top: 10px;
}

.content {
    padding-top: 10px;
    padding: 10px 14px;
}
.row{
    padding: 4px;
}
/**
* Header Styles
*/
.ngx-datatable .datatable-header {
    background-color: #eee;
    background: linear-gradient(180deg, #f2f2f2 ,#fafafa);
    position: relative;
}

.ngx-datatable .datatable-header-cell {
    padding: 0 1.2rem;
    font-weight: bold;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
    border-top: 0;
    transition: width 0.3s ease;
    vertical-align: middle;
    font-size: 12px;
    line-height: 40px;
    position: relative;
    border: 1px solid #ddd;
    border-left-width: 0;
}

.ngx-datatable .datatable-header-cell:last-child {
    border-right-width: 0;
}

/**
* Body Styles
*/

.datatable-row-center .datatable-body-cell{
    text-align: left;
    padding: .8rem 1.2rem .5rem;
    vertical-align: top;
    transition: width 0.3s ease;
    
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.datatable-row-center .datatable-body-cell:last-child{
    border-right: 0;
}

.datatable-body .datatable-row-detail {
    padding: 1rem 4rem; 
    background:  rgba(200, 200, 200, .2);
    position: relative;
}

.datatable-body .empty-row {
    padding: 1rem 4rem; 
    background:  rgba(200, 200, 200, .2);
    position: relative;
}

.datatable-body .datatable-row-detail > div{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.table-striped .datatable-body .datatable-row-wrapper:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-striped .datatable-body .datatable-row-wrapper:nth-of-type(even) {
    background-color: #ffffff;
}

.lightest-gray-bg{
    background: #fafafa;
}
/* Ngx Datatable Selection*/
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group {
    background-color: #CCF9F9; 
}
.invalid-field {
    border-color: #b94a48 !important;
}
